* {
    box-sizing: border-box;
}
:root {
--app-container: #FAF6F5;
--eggshell: #d0906f70;
--milk-chocolate: #986950;
--tawny: #CEB8A4;
--dark-brown: #3C2722;
/* --tawny: #F8F4F1; */
--brown: #966851;
--text-color: #545454;
--white: #fff;
}
h2 {
    font-style: normal;
    font-size: 2.5vw;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
}

body {
    background-color: var(--app-container);
}

/* --------------------------------------------NAVIGATION BAR */
.logo {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 2.5vw;
}

.logo img {
    width: 100%;
    height: 8vh;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-top: 1vh;
    background-color: var(--white);
    font-style: 'Poppins', sans-serif;
    width: 100%;
}

nav a {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1vw;
}

nav button {
    font-family: 'Cinzel', serif;
    font-weight: 500;
    background-color: var(--tawny);
    border: none;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 1vw;

}

.first {
    background-color: var(--white);
    color: var(--text-color);
    margin: 0;
    padding: 0.5vh;
    height: 10vh;
}

/* ----------------------------------------------LANDING VIEW */
.title-card{
    text-align: center;
    padding: 1.2vh;
    font-family: 'Cinzel', serif;
    font-size: 2.5vw;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
}

#title-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-card-container h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

#title-card-container span{
    width: 100%;
    font-style: italic;
}

#title-card-container button {
    border: none;
    background-color: var(--text-color);
    color: var(--app-container);
    font-size: 1vw;
    padding: 1vw;
}

#title-card-container p {
    width: 70%;
    font-size: 1.2vw;
    text-align: center;
    padding: 1vh 0;
    margin: 0;
    font-style: 'Poppins', sans-serif;
}

#title-card-container img {
    width: 100%;
}

#title-card-logo {
    width: 40%;
}

.title-card-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}


/* -------------------------------------------PARTNERS SECTION */

.sponsor-container {
    text-align: center;
    padding: 5vh;
}

.sponsor-container h2 {
    font-size: 2vw;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.sponsor-container hr{
    width: 60%;
}
.sponsors{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.sponsors img{
    height: 5vw;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

.second-container {
    height: fit-content;
    background-color: var(--tawny);
    display: flex;
}

.greeting-container {
    display: flex;
}

.about-text{
    flex: 0.9;
    width: 80%;
    color: var(--dark-brown);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2vw;
    padding-left: 7vw;
    font-family: 'Playfair Display', serif;
}
.about-text h1{
    font-size: 2.5vh;
    padding: 0;
    font-style: italic;
    margin: 0;
}
.about-text img {
    height: 20vh;
    padding: 1vh;
    object-fit: cover;
}
.about-text h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 7vh;
    margin: 0;
}

.about-text h6 {
    font-size: 2.8vh;
    font-weight: 100;
    padding: 0;
    margin: 0;
}


.about-text-content {
    line-height: 1.5em;
    border-right: 1px solid var(--dark-brown);
    font-weight: 100;
    font-size: 1vw;
    padding-right: 2vw;
}

.about-text button {
    font-family: 'Cinzel', serif;
    border: none;
    background-color: var(--milk-chocolate);
    padding: 2vh;
    color: var(--white);
}

.greeting-imgs-container {
    flex: 1.3;
    display: flex;
    height: 90%;
    position: relative;
}

#first-img{
    align-self: center;
    height: 70vh;
    margin-bottom: 4vh;
}

#second-img{
    width: 20vw;
    top: 50%;
    margin-left: 2vw;
    position: absolute;
}

/*-------------------------CUT TO THE CHASE----------------------------- ---------------------------------------------------------------------- */

.third-container {
    height: fit-content;
    background-color: var(--app-container);
    padding-top: 25vh;
    overflow: hidden;
}

.cut-container {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}

.cut-img{
    width: 17%;
}
#doorway {
    display: none;
}

.cut {
    font-family: 'Playfair Display', serif;
    width: 66%;
    background-color: var(--milk-chocolate);
    color: var(--app-container);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2vw;
}

.cut h1{
    font-style: italic;
    font-size: 6vh;
    font-weight: 100;
    margin: 0;
}

.cut p{
    padding-left: 30%;
    margin: 0;
    font-weight: 100;
}

.cut-first{
    margin-top: -150px;
    padding: 20px;
    align-self: flex-start;
    justify-content: flex-start;
}
.cut-second{
    padding: 0 50px 80px 20px;
    transform: rotateZ(-10deg);
    margin-top: -20px;
}

.choice-container {
    width: 70%;
    margin: auto;
}

.choice-container h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 3vw;
    color: var(--dark-brown);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

.fifth-container{
    background-color: var(--app-container);
    height: fit-content;
    display: flex;
}

.card-container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 2.2vw;
}

.container-first {
    align-self: flex-end;
    padding: 20px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--tawny);
    color: var(--dark-brown);
}

.card img{
    flex: 1.5;
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.card-text {
    flex: 1;
    padding: 2vw 1.5vw;
}

.card h5{
    font-size: 3vh;
    margin: 0;
    line-height: 1.5;
    font-family: 'Playfair Display';
}

.card p {
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}


/* ----------------------------------------------------REVIEW */
.review {
    color: var(--text-color);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    font-family: 'Playfair Display', serif;
    width: 100%;
}
.review p {
    width: 60%;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 0;
}

.review h2 {
    font-style: italic;
    font-size: 4vh;
    margin: 0;
}
.review h6 {
    margin: 0;
}

.review hr {
    width: 30%;
    color: var(--text-color);
    background-color: var(--eggshell);
    border: 1px solid var(--text-color);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

.sixth-container{
    height: 75vh;
    background-color: var(--milk-chocolate);
    display: flex;
}

.sixth-container img {
    flex: 1;
    object-fit: cover;
}
.contact-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.contact-container h1 {
    font-family: 'Cinzel', serif;
    font-size: 5vh;
    font-weight: 100;
    margin: 0;
}

.contact-container p {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container input {
    background-color: var(--milk-chocolate);
    padding: 2vh;
    border: none;
    color: var(--white);
    width: 25vw;
    border-bottom: 1px solid var(--white);
    margin-bottom: 2vh;
}


.name-and-email {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.name-and-email input {
    width: 11.5vw;
}

.contact-container input:focus{
    outline: none;
}

::placeholder {
    color: var(--white);
}

.contact-container button {
    align-self: center;
    padding: 1vw 2vw;
    margin: 1vw;
    border: none;
    color: var(--white);
    background-color: var(--tawny);
}

.contact-icons a {
    color: var(--white);
    font-size: 5vh;
    padding: 2.5vh 1vw;
    text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.seventh-container{
    height: fit-content;
    background-color: var(--app-container);
}
.seventh-container h1{
    text-align: right;
    margin-right: 10vw;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'Cinzel', serif;
}

.events-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    width: 80%;
    margin: 5vh auto;
}

.event-item{
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-item img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 5px;
}

.event-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
    margin-top: 0;
}
.event-tag{
    background-color: var(--dark-brown);
    color: var(--white);
    border: none;
    border-radius: 20px;
    padding: 1vh 2vh;
}
.event-title {
    font-weight: 800;
    margin: 0;
    margin: 1.2vh 0;
    font-size: 3vh;
}
.event-description{
    margin: 0;
    font-size: 2vh;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

.eighth-container {
    background-color: var(--dark-brown);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}

.radio-gallery-container {
    display: flex;
}

.radio-item {
    width: 13.7vw;
}

.radio-item img {
    width: 13.7vw;
}

/* ------------------------------------------------FOOTER */


footer{
    color: var(--white);
    font-family: 'Cinzel', serif;
    font-size: 2.5vh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-brown);
}

@media (max-width:1200px){
    .skew {
        display: none;
    }
    #first-img {
        margin: -3vh auto 3vh;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card-container br{
        display: none;
    }
    .greeting-imgs-container{
        flex: 1;
    }
}

@media (max-width:858px) {
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .title-two{
        display: none;
    }
    #title-card-container h2 {
        font-size: 3vh;
        margin: 0.5vh;
        text-align: center;
        line-height: 100%;
    }

    #title-card-container span {
        font-weight: 600;
    }

    #title-card-container button {
        border: none;
        background-color: var(--text-color);
        color: var(--tawny);
        font-size: 1.5vw;
        padding: 1.5vw;
    }

    #title-card-container p {
        width: 80%;
        font-size: 2.2vw;
    }
    .about-text h1, .about-text h6 {
        font-size: 2.5vw;
        border: none;
    }
    .about-text-content{
        font-size: 2vw;
    }
    .greeting-container{
        flex-direction: column;
    }
    .second-container{
        height: fit-content;
    }
    .greeting-imgs-container{
        display: none;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }

    .about-text{
        padding: 6vh 2vh;
        flex: 1.7;

    }
    .cut-img{
        display: none;
    }

    .cut{
        width: 80%;
        margin: auto;
    }
    .sixth-container {
        height: fit-content;
    }

    .contact-container {
        padding: 10vh;
    }

    .contact-container button{
        padding: 2.5vh;
        margin-bottom: 4vh;
    }

    .sixth-container{
        flex-direction: column;
    }
    .choice-container h1, .cut h1, .about-text h2{
        font-size: 5vw;
    }

    .cut p{
        font-size: 1.5vw;
        padding-top: 1.5vw;
    }
    .cut-container{
        margin-bottom: 20vh;
    }

    .card p{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
    }

    .contact-container h1{
        font-size: 4vh;
    }
    .contact-container input{
        padding: 2vw;
        width: 50vw;
    }
    .name-and-email input{
        width: 24.5vw;
    }
    .contact-icons a {
        font-size: 4vh;
        padding: 2.5vh 2vw;
    }
    .events-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:600px) {
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor-container{
        padding: 1vh;
    }
    .choice-container h1, .cut h1, .about-text h2{
        font-size: 7vw;
    }
    .about-text h1, .about-text h6, .about-text-content {
        font-size: 3.5vw;
        border: none;
    }
    .third-container{
        padding: 0;
        position: relative;
    }
    #doorway{
        display: block;
        object-fit: cover;
        opacity: 40%;
    }
    .cut-container{
        position: absolute;
        top: 30%;
    }
    .cut {
        text-align: center;
        padding: 2vw;
    }
    .cut h1{
        font-size: 7vw;
    }
    .cut p {
        font-size: 2vh;
        padding: 1vw;
    }
    .card-text{
        padding: 5vw;
    }
    .review p {
        width: 80%;
        font-size: 5vw;
    }
    .review h2 {
        font-size: 2vh;
    }

    .card-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5vh;
    }
    .events-container{
        grid-template-columns: repeat(1, 1fr);
    }
}